.header {
  grid-area: header;
  margin: 0;
  position: relative;
  top: 1rem;


  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.score {
  grid-column: 2 / 5;
  align-self: center;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(/icon/08_skore-bar.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  font-size: var(--font-size-bigger);
  font-weight: var(--font-weight-bold);
}

.score-none {
  display: none;
}