.storyPage-content {
  background-image: url(/images/202_pribeh.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: grid;
  grid-template-columns: 45% 55%;
  grid-template-areas:
    "text .";
}

.storyPage-text-container {
  grid-area: text;
  align-self: center;
  justify-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: fit-content;
  max-width: 500px;
  background-color: var(--color-background_title-opacity);
  border-radius: 30px;
  padding: 2rem;
  margin: 2rem;
}

@media (max-width: 700px) {
  .storyPage-text-container  {
    margin: 1rem;
    max-width: 800px;
  }
  .storyPage-content {
    grid-template-columns: 100%;
  }
}

.storyPage-title {
  font-size: var(--font-size-titles);
  margin: 0;
  text-align: center;
}

.storyPage-text p {
  margin: 0.5rem;
  line-height: 1.3;
}