.rulesPage-content {
  background-image: url(/images/203_pravidla.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: grid;
  grid-template-columns: 55% 45%;
  grid-template-areas:
    "text .";
}

.rulesPage-text-container {
  grid-area: text;
  align-self: center;
  justify-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: fit-content;
  max-width: 600px;
  background-color: var(--color-background_title-opacity);
  border-radius: 30px;
  padding: 2rem;
  margin: 2rem;
}

.rulesPage-title {
  font-size: var(--font-size-titles);
  margin: 0;
  text-align: center;
}

.rulesPage-text p {
  margin: 0.5rem;
  line-height: 1.3;
}