.background {
   background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    max-width: 1647px;
    max-height: 1080px;
    
}

header {
  display:flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100px;
}

/* Header */


.gamelevel-background {
    background-image: url('/../assets/13_potok.png');
   
}




/* tlačítka domů a zvuk */


.header-buttons {
  display: flex;
  gap: 0.5rem;
  position: absolute;
  right: 1rem;
}

.header-btn {
  width: 50px;
  height: 50px;
}

/* main - příklady a překážka */

.gamelevel-main {
  display: flex;
  flex-direction: column;

}

.targets-container {
  display:flex;
  justify-content: space-between;
  margin-left: 100px;
  margin-right: 100px;
}

.challenge-container {
  display: flex;
  justify-content: space-between;
  margin-left: 100px;
  margin-right: 100px;
}

.examples-panel,
.obstacle-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 /*  background: rgba(255, 255, 255, 0.238); */
  width: 680px;
  height: 580px;
}

.examples-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  height: 80%;
}

.panel-wrapper {
  width: 680px;
  display:flex;
  justify-content: center;
}

.example-btn {
  width: 400px;
  height: 80px;
  display: flex;
}

.field-value {
  height: 80px;
  width: 80px;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px, solid, grey;
}

/* spodní lišta na text */

.story-container {
  height: 160px;
  background: rgba(249, 249, 249, 0.383);
  font-size: 1.5rem;
  padding: 15px;
  display: flex;
  align-items: center;
  text-align: center;
  position: absolute;
  left: 0;
  bottom: 0;

}