/* text s příběhem */

.gameLevel-footer {
  grid-area: footer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*   gap: 5rem; */
  background-color: rgb(239, 214, 160, 0.8);
}

/* Story wrapper */

.story-container {
  display: flex;
  align-items: center;
  font-size: var(--font-size-normal);
}
