/* ikony zvuk a domů */

.app-icons {
  display: flex;
  gap: 14px;
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 999;
}



.icon-soundSwitch {
  background-color: transparent;
  border: none;
  width: 56px;
  cursor: pointer;
  padding-bottom: 0px;
}

.icon-homeButton {
  background-color: transparent;
  border: none;
  width: 56px;
  height: 56px;
  cursor: pointer;
}

.soundOnIcon,
.homeButton,
.soundOffIcon {
  background: linear-gradient(to bottom, rgb(185, 160, 102), #a17e3e)
}


.soundOnIcon:hover,
.soundOffIcon:hover,
.homeButton:hover,
.soundOnIcon:focus,
.soundOffIcon:focus,
.homeButton:focus {
  background: linear-gradient(to bottom, rgb(230, 210, 150), #b9934c);
}


/* šipka pokračovat */

.arrow {
  font-family: inherit;
  background-color: transparent;
  border: none;
  background-image: url(/icon/06_sipka-pokracovat_hrat-znovu.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 200px;
  height: 78px;
  font-size: var(--font-size-titles);
  text-indent: -18px;
  right: 0.5rem;
  bottom: 1rem;
  z-index: 998;
  position: fixed;
  color: var(--color-text_border);
  cursor: pointer;
  transition: transform 0.2s ease-in-out
}

.arrow:hover,
.arrow:focus {
  transform: scale(1.05);
}

.arrow span {
  margin-bottom: 10px;
}

.arrow-link {
  display: flex;
  justify-content: center;
  align-items: center;


}


a {
  all: unset;
  text-decoration: none;
}

/* tlačítko - šipka */

.arrow-position {
  flex: 0 0 auto;
  position: static;
}

.gameLevel-arrow-off {
  display: none;
}
